[submodule "diamond-staking/lib/forge-std"]
	path = diamond-staking/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "diamond-staking/lib/openzeppelin-contracts"]
	path = diamond-staking/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
